body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: linear-gradient(0.25turn,black,#012A4A, #013A63, #01497C,#014F86);


}

<div className="sidebar-right">
        {/* Content for the right sidebar */}
        {/* For example, you can add user-related elements here */}
        <div className="user-section">
          <span>Username</span>
          {/* Add additional elements for user information, logout, etc. */}
        </div>
      </div>
    </nav>
  );
}
