.artist-section {
    background: rgb(1,42,74);
    background: linear-gradient(180deg, rgba(1,42,74,1) 0%, rgba(0,8,15,1) 30%);
    padding-bottom: 100px;
    color: white;
    width: 82.5vw;
    margin-left: auto;
    position: relative;
    top: 58px;
}

.artist-header {
    position: relative;
    margin-bottom: 75px;
}

.artist-header-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.artist-profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 110px;
}

.artist-header-profile {
    height: 270px;
    display: flex;
    justify-content: center;
}

.artist-header h1 {
    text-align: center;
}

.artist-info-container {
    position: relative;
}

.artist-stats-details {
    display: flex;
    justify-content: center;
}

.artist-stats-details p {
    margin: 15px;
}

button.subscribe-button {
    color: white;
    background-color: #00B4D8;
    font-size: 16px;
    padding: 12px 75px;
    text-align: center;
    border-radius: 50px;
    border: none;
    margin: 0;
    position: absolute;
    top: 140px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.subscribe-button:hover{
    cursor: pointer;
    opacity: .8;
}

/* Popular Songs List */

.popular-songs {
    width: 50%;
    margin-left: 2vw;
    margin-bottom: 50px ;
}

.popular-song {
    margin: 15px 15px;
}

.popular-song {
    display: grid;
    grid-template-columns: 50px 1fr 100px 1fr;
}

.popular-song-img {
    width: 40px;
    height: 40px;
}

/* Discography */

.discography {
    margin-left: 2vw;
}

.discography-albums {
    display: flex;
    justify-content: center;
    overflow-x : auto;
}

.discography-album {
    margin: 50px;
}

.discography-img {
    width: 140px;
    height: 140px;
}

.discography-album p {
    text-align: center;
    margin-top: 10px;
}

/* Subscription Plan */

.subscription-plan {
    margin-left: 2vw;
}

.subscription-cards {
    display: flex;
    justify-content: center;
}

.subscription-cards-container {
    background-color: #013A63;
    width: 20vw;
    height: 50vh;
    text-align: center;
    padding: 25px 50px;
    margin: 50px;
    font-weight: 500;
    border-radius: 5px;
}

.subscription-cards-container p{
    margin: 15px;
    font-size: 18px;
}

.join-button{
    color: white;
    background-color: #00B4D8;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    width: 90%;
    margin: 15px;
    font-weight: 700;
}

.join-button:hover {
    cursor: pointer;
    opacity: .9;
}

.subscription-list {
    text-align: left;
    margin: 15px;
    font-size: 16px;
}



