/* Login.css */ 
.login-page { 
    background-color: #08304F;
    height: 100vh;
    width: 100vw;
} 

.login-container {
    padding-top: 20vh;
}

.login-box {
    width: 30vw; 
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    margin: auto;
    background: black;
    padding: 100px 100px;
}

.login-heading { 
    color: white;
    text-align: center;
    margin-bottom: 25px;
    font-size: 40px;
} 
    
.login-input { 
    width: 50%; 
    padding: 10px; 
    border: none; 
    border: .1px solid white;
    outline: none; 
    margin: auto;
    margin-bottom: 15px;
    background-color: #012A4A;
    color: white;
} 

.login-box hr {
    margin-bottom: 55px;
}

.signup-link {
    margin-top: 35px ;
    background: transparent;
    color: white;
    border: none;
}

.signup-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.login-box p {
    color:white;
    width: 53%; 
    margin: auto;
    margin-bottom: 10px;
}