/* Login.css */ 
.login-container { 
    display: flex; 
    flex-direction: column; justify-content: center; align-items: center; 
    min-height: 100vh; 
    background-color: #144870;
    } 
    .login-heading { 
    font-size: 24px; 
    margin-bottom: 10px; 
    color: white;
    } 
    .login-form { 
    display: flex; 
    flex-direction: column; gap: 10px; 
    width: 300px; 
    margin-bottom: 20px; 
    } 
    .form-group { 
    display: flex; 
    flex-direction: column; } 
    .login-input { 
    padding: 5px; 
    border: 1px solid #efeeee; border-radius: 5px; 
    } 
    .login-button {
    background-color: #007bff; 
    color: rgb(242, 240, 240); 
    padding: 8px 16px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    } 
    .signup-link { 
    font-size: 14px; 
    color: rgb(26, 159, 86); 
    }
    