/* bar */
.audio-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    color: white;
    height: 75px;
    width: 100%;
    align-items: center;
}

.audio-bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* audioplayerinfo */
.audio-player-song-info {
    width: 10vw;
    display: flex;
    margin-left: 15px;
}

.audio-player-song-info img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.audio-player-info {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.audio-player-info-title{
    font-size: 16px;
}

.audio-player-info-artist {
    opacity: .75;
    font-size: 12px;
}

/* timeline button */
.player-button {
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.player-button:hover{
    color: #00B4D8;
    transform: scale(1.07);
}

.control-button {
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0;
    margin-right: 1vw;
    margin-left: 1vw;
    color: white;
}

.control-button:hover {
    /* background: rgba(255, 255, 255, 0.2); */
    color: #00B4D8;
}

/* timeline */
.controls {
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.timeline {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 40vw;
    border-radius: 5px;
    height: 6.66px;
}

.timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    margin-top: -3px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    background-color: white;
}
  
.timeline:hover::-webkit-slider-thumb {
    opacity: 1;
}

.timeline.timeline::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
    height: .5em;
}

/* sound button */
.sound-button {
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0;
    color: white;
}

.sound-button:hover{
    background: rgba(255, 255, 255, 0.2);
    /* color: #00B4D8; */
}

/* volume bar */
.audio-volume {
    display: flex;
    align-items: center;
    width: 10vw;
}

.volume-control {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    height: 6.66px;
}

.volume-control::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    background-color: white;
}

.volume-control:hover::-webkit-slider-thumb {
    opacity: 1;
}

/* audio player */
.audio-player audio {
    width: 90%;
    margin: auto;
    color: white;
}
