.playlist-page {
    background: rgb(1,42,74);
    background: linear-gradient(180deg, rgba(1,42,74,1) 0%, rgba(0,8,15,1) 30%);
    padding-bottom: 200px;
    color: white;
    width: 83vw;
    margin-left: auto;
    top: 58px;
    position: relative;
}

.playlist-header {
    padding: 30px 50px 10px;
    display: flex;
}

.playlist-img {
    height: 200px;
    width: 200px;
    background: #48CAE4;
    border-radius: 5px;
}

.playlist-info {
    display: inline-block;
    margin-left: 25px;
}

.playlist-info h1{
    margin-top: 20px;
}

.playlist-info h4{
    opacity: .75;
    font-weight: normal;
    margin-top: 10px;
}

.playlist-info h3{
    font-weight: normal;
    margin-top: 10px;
}

.playlist-info-icons {
    margin-top: 20px;
}

.playlist-play-button {
    margin-right: 25px;
    width: 50px;
    height: 50px;
}

.playlist-fav:hover {
    color: #48CAE4;
    cursor: pointer;
    transform: scale(1.1);
}

.playlist-list {
    width: 70vw;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    margin: auto;
}

.playlist-list-row {
    display: flex;
    flex-flow: row nowrap;
    height: 65px;
    align-items: center;
    width: 100%;
}

.playlist-list-header {
    height: 50px;
    font-weight: 600;
    border-bottom: .5px rgba(255, 255, 255, 0.5) solid;
}

.p-row-item {
    flex: 1;
    padding: 15px;
    justify-content: center;
}

.playlist-list-info {
    display: flex;
    align-items: center;
}

.playlist-list img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
}