.signup-page {
    background-color: #08304F;
    height: 100vh;
    width: 100vw;
}

.signup-container {
    padding-top: 15vh;
}

.signup-box { 
    width: 30vw; 
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    margin: auto;
    background: black;
    padding: 100px 100px;
} 

.signup-page h2 {
    color: white;
    text-align: center;
    margin-bottom: 25px;
    font-size: 40px;
}

.signup-page input { 
    width: 50%; 
    padding: 10px; 
    border: none; 
    border: .1px solid white;
    outline: none; 
    margin: auto;
    margin-bottom: 15px;
    background-color: #012A4A;
    color: white;
} 

.signup-button {
    width: 50%;
    margin: auto;
    margin-top: 45px;
}

.signup-box hr {
    margin-bottom: 55px;
}

.signup-box p {
    color:white;
    width: 53%; 
    margin: auto;
    margin-bottom: 10px;
}