.subscription-page {
    background: rgb(1,42,74);
    background: linear-gradient(180deg, rgba(1,42,74,1) 0%, rgba(0,8,15,1) 30%);
    padding-bottom: 100px;
    color: white;
    width: 83vw;
    margin-left: auto;
    position: relative;
    top: 58px;
}

.subscription-page-title {
    padding: 30px 50px;
}

.subscription-card {
    width: 70vw;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    background-color: #424D54;
    height: 100vh;
    border: .5px rgba(255, 255, 255, 0.5) solid;
    margin: auto;
    box-shadow: 0px 10px 50px 5px #28283d;
}

.subscription-row{
    display: flex;
    flex-flow: row nowrap;
    border-bottom: .5px rgba(255, 255, 255, 0.5) solid;
    height: 100px;
    align-items: center;
    width: 100%;
}

.subscription-header {
    background-color: #1B2630;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
}

.s-row-item {
    flex: 1;
    padding: 25px;
    justify-content: center;
}


.subscription-subrow {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    padding: 25px;
}

.subscription-subrow div {
    padding: 10px 0;
}

.subscription-card img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.subscription-artist-info {
    display: flex;
    align-items: center;
}

.subscription-artist-info p{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.cancel-subscription {
    color: white;
    background-color: #00B4D8;
    font-size: 16px;
    padding: 12px 75px;
    text-align: center;
    border-radius: 50px;
    border: none;
}

.cancel-subscription:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}