/* js.css */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.squares-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 800px;
  margin: 0 auto;
}

.square-container {
  margin-right: 32.5px;
  margin-left: 32.5px;
  position: relative; /* Add this line to create a positioning context */
}

.text {
  position: absolute;
  top: 100px;
  left: 10%;
  font-size: 10px;
  color: rgb(234, 237, 240);
  transform: translateX(-50%);
}

.square {
  width: 100px;
  height: 100px;
  background-color: rgb(29, 207, 242);
  
 
  /*transform: translateX(-50%);*/
}

.top-heading {
  position: absolute;
  top: 45px;
  left: 0;
  font-size: 15px;
  color: aliceblue;
}

/* Add styles for the circles */



.circles-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.circle-container {
  margin-right: 37.5px;
  margin-left: 37.5px;
  
  position: relative;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgb(81, 161, 195); /* You can set the color for the circles */
  
   /* Adjust the vertical position of the circles below the squares */
  /* Horizontally center the circles */
  
  /*transform: translateX(-50%);*/
}










