/* js.css */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.squares-container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.square-container {
  margin-right: 65px;
  position: relative; /* Add this line to create a positioning context */
}

.text {
  position: absolute;
  top: 100px;
  left: 10%;
  font-size: 10px;
  color: rgb(234, 237, 240);
  transform: translateX(-50%);
}

.square {
  width: 100px;
  height: 100px;
  background-color: rgb(29, 207, 242);
  top: -300px; /* Move the square to the top */
  left: 50%;
  transform: translateX(-50%);
}

.top-heading {
  position: absolute;
  top: 45px;
  left: 0;
  font-size: 15px;
  color: aliceblue;
}

/* Add styles for the circles */

.circles-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.circle-container {
  margin-right: 155px;
  position: relative;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgb(81, 161, 195); /* You can set the color for the circles */
  position: absolute;
  top: -300px; /* Adjust the vertical position of the circles below the squares */
  *left: 15; /* Horizontally center the circles */
  right: 30%;
  transform: translateX(-50%);
}










