.square-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  height: 10vh; /* Set the height of the container to the full viewport height */
  margin-top: 0; /* Add this line to reset the top margin */
}


  
  

  /* square.css (or create a new CSS file and import it) */
  .top-heading {
    position: absolute;
    top: 45px; /* Adjust the value to move it down as much as you want */
    left: 0;
    font-size: 15px;
    color: aliceblue;
  }
  
  