.square-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  height: 10vh; /* Set the height of the container to the full viewport height */
  margin-top: 0; /* Add this line to reset the top margin */
}

.square {
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  top: 130px; /* This will position the square below the text */
  left: 30%; /* This will horizontally center the square */
  transform: translateX(-50%); /* This will adjust the centering due to the width of the square */
}
  

.text {
  position: absolute;
  top: 220px; /* Adjust the vertical position of the text above the square */
  left: 23%; /* Adjust the horizontal position of the text */
  font-size: 15px;
  color: aliceblue;
  font-weight: bold;
}





  /* square.css (or create a new CSS file and import it) */
  .top-heading {
    position: absolute;
    top: 45px; /* Adjust the value to move it down as much as you want */
    left: 0;
    font-size: 15px;
    color: aliceblue;
  }
  
  