.square-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to the full viewport height */
  }
  
  .square {
    width: 100px;
    height: 100px;
    background-color: green;
  }
  