.square-container {
    display: flex;
    justify-content: center;
    margin-top: 100px; /* Add some top margin to push the square down */
  }
  
  .square {
    width: 100px;
    height: 100px;
    background-color: rgb(19, 31, 194);
  }
  