.square-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add some top margin to push the square down */
    position: relative; /* Add positioning to the container */
  }
  
  .square {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute; /* Use absolute positioning for the square */
    top:-1; /* Position the square at the top of its container */
  }
  